main {
  display: flex;
  justify-content: center;
  position: relative;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-left: 12%;
}

.contact > h1 {
  font-size: 2rem;
  font-weight: lighter;
  left: 20%;
  letter-spacing: 0.2rem;
  position: absolute;
  top: 0;
}

.contact-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.contact-inputs > p {
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  margin-top: 2rem;
}

.contact-inputs > p > input,
textarea {
  background: none;
  border-bottom: 0.1rem solid var(--border-inputs-color);
  color: var(--font-color);
  margin-top: 0.2rem;
  outline: none;
  padding: 0.7rem;
  resize: none;
  width: 20rem;
}

textarea {
  padding-bottom: 3rem;
}

.contact-inputs > input[type="submit"] {
  background: none;
  border-radius: 0.1rem;
  border: 0.1rem solid var(--border-inputs-color);
  color: var(--font-color);
  height: 2.5rem;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
  margin: auto;
  width: 10rem;
}

.contact-inputs > input[type="submit"]:hover {
  border: 0.1rem solid #ccc;
  cursor: pointer;
}

.contact-informations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3.5rem;
}

.contact-informations > div {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  color: #ccc;
  display: flex;
  flex-direction: column;
  flex: 0 0 34%;
  height: 12rem;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  width: 6.9rem;
}

.contact-informations > div > i {
  color: #aaa;
  font-size: 4rem;
  height: 4rem;
  margin-top: 0.6rem;
}

.contact-informations > div > h2 {
  font-weight: normal;
  height: 3rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  text-align: center;
}

.contact-informations > div > p {
  font-weight: lighter;
  height: 3rem;
  line-height: 1.4rem;
  margin-top: 1rem;
  text-align: center;
  width: 100%;
  word-break: break-word;
}

.contact-informations > div:nth-child(n + 3) > p {
  margin-top: 0;
}

@media (max-width: 1219px) {
  .contact {
    align-items: center;
    flex-direction: column;
    margin: 0;
  }
}

@media (max-width: 568px) {
  .contact-informations > div > h2 {
    height: 4.5rem;
  }

  .contact-informations > div {
    padding: 3rem;
  }
  
  .contact-inputs > p > input,
  textarea {
    width: 16rem;
  }
}
