/* curiosites-01 */

.curiosites-01 {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.curiosites-01 > h1 {
  font-size: 3rem;
  font-weight: lighter;
  letter-spacing: 0.2rem;
  margin-top: 2rem;
}

.curiosites-01 > p {
  font-weight: lighter;
  letter-spacing: 0.1rem;
  width: 20rem;
}

.curiosites-01-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  width: 70%;
}

.curiosites-01-container > div {
  flex: 0 0 39%;
  margin-top: 2rem;
  padding: 2rem;
}

.curiosites-01-container > div > i {
  font-size: 6rem;
  opacity: 0.6;
}

.curiosites-01-container > div > p {
  font-weight: lighter;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
  text-transform: uppercase;
}

/* curiosites-02 */

.curiosites-02 {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
  padding: 2rem 0;
  text-align: center;
  width: 100%;
}

.curiosites-02 > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.curiosites-02 > div > img {
  border-radius: 50%;
  height: 14rem;
  object-fit: cover;
  padding: 1rem 0;
  width: 14rem;
}

.curiosites-02 > div > p {
  line-height: 1.5rem;
  padding: 1rem 0;
  width: 16rem;
}

/* curiosites-03 */

.curiosites-03 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  text-align: center;
}

.curiosites-03 > h2 {
  font-size: 3rem;
  font-weight: lighter;
  margin-top: 2rem;
  letter-spacing: 0.2rem;
}

.curiosites-03 > p {
  font-weight: lighter;
  letter-spacing: 0.1rem;
  width: 20rem;
}

.curiosites-03-container {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
  text-align: left;
  width: 100%;
}

.curiosites-03-container > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
}

.curiosites-03-container > div > h3 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.curiosites-03-container > div > i {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.curiosites-03-container > div > p {
  text-align: center;
  width: 19rem;
}
/* media */

@media (max-width: 640px) {
  .curiosites-02 > div:nth-child(2) {
    flex-direction: column-reverse;
  }

  .curiosites-03-container > div {
    padding: 4rem 0;
  }
}

@media (max-width: 1472px) {
  .curiosites-03-container > div {
    flex: 0 0 40%;
  }
}
