.home-page {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.home-page > h1 {
  font-size: 2.4rem;
  font-weight: normal;
  height: 3rem;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  width: 30rem;
}

/* home-page-content-03 */

.home-page-content-01 {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 7rem;
  justify-content: center;
  margin-top: 2rem;
}

.home-page-img {
  display: flex;
  margin-top: 2rem;
  position: relative;
}

.home-page-img > img {
  width: 30rem;
}

.home-page-img > div {
  background-color: rgba(0, 0, 0, 0.2);
  height: 30rem;
  left: 3rem;
  position: absolute;
  top: -4rem;
  width: 15rem;
  z-index: -1;
}

.home-page-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.home-page-text > i {
  font-size: 5rem;
}

.home-page-text > h2 {
  font-weight: normal;
  padding: 1rem;
}

.home-page-text > blockquote > p {
  line-height: 1.4rem;
  text-align: center;
  width: 20rem;
}

.home-page-text > blockquote > footer {
  font-weight: lighter;
  padding: 1rem;
}

/* home-page-content-02 */

.home-page-content-02 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 9rem;
}

.home-page-content-02 > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  opacity: 0.8;
}

.home-page-content-02 > div > img {
  height: 30rem;
  padding: 2rem 0.3rem;
  width: 17rem;
}

.home-page-content-02 > div > h2 {
  font-weight: lighter;
}

.home-page-content-02 > div > i {
  color: #aaa;
  font-size: 4rem;
  padding: 0.2rem;
}

/* home-page-content-03 */

.home-page-content-03 {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  margin-top: 10rem;
}

.home-page-content-03 > img {
  width: 30rem;
}

.home-page-content-03 > div {
  text-align: center;
}

.home-page-content-03 > div > h2 {
  font-weight: normal;
}

.home-page-content-03 > div > p {
  font-weight: lighter;
  margin-top: 0.85rem;
  width: 20rem;
}

/* media */

@media (max-width: 500px) {
  .home-page > h1 {
    font-size: 1.25rem;
    padding: 0;
    width: 20rem;
  }

  .home-page-img > img {
    width: 19rem;
  }

  .home-page-img > div {
    display: none;
  }

  .home-page-content-03 > img {
    width: 20rem;
  }
}

@media (max-width: 869px) {
  .home-page-content-02 {
    flex-direction: column;
  }

  .home-page-content-02 > div:nth-child(2) {
    flex-direction: column-reverse;
  }
}
