* {
  font-size: 1rem;
}

main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 21rem;
}

.form > .fa-regular {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.form > input[type="text"],
.form > input[type="password"] {
  background: none;
  border-bottom: 0.01rem solid var(--font-color);
  color: var(--font-color);
  font-weight: light;
  height: 2rem;
  margin-top: 1rem;
  padding: 0 1rem;
  width: 12rem;
}

.form > input[type="text"],
.form > input[type="password"]:focus {
  outline: none;
}

.form > input[type="submit"] {
  background: none;
  border: 0.01rem solid var(--font-color);
  color: var(--font-color);
  height: 2rem;
  margin-top: 2rem;
  width: 10rem;
}

.form > input[type="submit"]:hover {
  cursor: pointer;
  font-weight: bold;
}
